<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/linkedin.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <title>LinkedIn Job Listings</title>
</head>
<body class="light-mode">
    <script id="user-data" type="application/json">
        {{ user | tojson }}
    </script>

    {% include 'header.html' %}
    {% include 'sidebar.html' %}

    <div class="body-container" style ="text-align: center;">
        <h1 class="gradient-text">LinkedIn Job Listings</h1>
        <div class="container">
            {% if jobs['data'] %}
                {% for job in jobs['data'] %}
                    <a href="{{ job['company']['url'] }}" class="job-link" target="_blank">
                        <div class="job">
                            <h3>{{ job['title'] }}</h3>
                            <p><strong>Company:</strong> {{ job['company']['name'] }}</p>
                            <p><strong>Location:</strong> {{ job['location'] }}</p>
                            <p><strong>URL:</strong> {{ job['company']['url'] }}</p>
                            <p><strong>Benefits:</strong> {{ job['benefits'] }}</p>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <p>No jobs found.</p>
            {% endif %}
        </div>        
    </div>
    <script src="{{ url_for('static', filename='scripts/header.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/sidebar.js') }}"></script>
</body>
</html>